In [ ]:
# Basic lines of code needed to import a data file with permissions from Google Drive
from google.colab import drive
import os
# drive.mount("/content/drive", force_remount=True)
drive.mount('/content/drive')
os.chdir('/content/drive/Shared drives/NLP Group/Project')


import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


#review_df = pd.read_json(r'yelp_dataset/yelp_academic_dataset_review.json', lines=True, encoding='utf-8-sig', chunksize=10000)

# count=0
# review_df

# df = []

# for d in review_df:
#   df.append(d)

# df2 = pd.concat(df)
# df2


df = pd.read_json(r'yelp_dataset/yelp_academic_dataset_review.json', lines=True, encoding='utf-8-sig', chunksize=10000)

review_df=[]

for d in df:
  review_df.append(d)
  break


review_df_2=review_df[0]
review_df_2
# count=0
# review_df
# for d in review_df:
#    print(d)
  #  d.append(d)
  #  count= count+1
  #  if(count==2000):
  #    break

#from nltk.word_tokenize import word_tokenize

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
9995,ZcBtCA9jGhLfakf1jJ2BAg,yab1cq5yzrTHzoyz8LYqYQ,1-z7wd860Rii4kbEMCT8DA,5,0,0,0,Excellent food and service. The place is funct...,2018-06-26 17:41:31
9996,UIkEO-10J6Y99IhRqUflvg,lYAmgL_l7A3MPFYe1DYKrw,EpREWeEpmR8f1qLHzzF0AA,5,0,1,0,Just about to get tucked into a meatloaf that ...,2018-01-09 20:26:13
9997,S-NQM3Axcg8JS3MXHUIvyw,rE2WwfgJbYfvDwBlgq__dQ,dvidzWEPgTQPeBc8CUV2OQ,5,0,0,0,Outstanding customer service! And my car is dr...,2015-04-01 21:50:28
9998,ME79YrEhm2xe4IQy_0zkGw,OnIklvzKDpk1BduC84TrTA,2XYPFRm7teCUr3eGsB2-qw,5,0,0,0,I and my husband went here for Dinner one day ...,2015-06-08 19:32:26
9999,05oKtleZ-JFGD6qt47VQcg,p0MhNWkwOPBfRo8qUb7faw,rnaE88k8yV5pFAGJeiIK4Q,2,0,0,0,I saw Big Data when they came to town at the K...,2015-08-06 23:16:58

In [ ]:
d

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
51295,qcPn9MXSqhCT7-soiguDOA,t9dd_MeLRGb_1RETOvfCUg,vN6v8m4DO45Z4pp8yxxF_w,5,0,0,0,"I can't decide which I loved more, the shrimp ...",2016-03-07 22:49:23
51296,ZGv22roD3gSwkRcxYO0q5w,gEiydiW1FdOuoG-7Log7Hw,H1i2aWZKw0SRPfaDImV5XA,1,0,0,0,"I would like to preface my comments with this,...",2015-12-06 06:01:15
51297,NuViqewgHAmcVU_cjXVKsw,r0YQhP1Z8xiPNebQ20Hu-g,TFnGJlA5l_HDdzGDkNTdTA,5,4,0,3,Do you need a low-key place to watch a college...,2009-10-19 04:05:26
51298,vQ-qNwbATZRDRc1xUFYrgA,ZleHCVNN22e7osm4IbGqnQ,N3m24XDVz7YSI8f39LELTQ,5,0,2,0,Received a male hair cut from this establishme...,2016-02-24 21:28:02
51299,s0IEyNuQXpcEWthKbhvI2w,WtvATZXqwOsRYw54BitcEg,lGbI4ub1FaTRh51GqmbXeA,3,0,0,0,Food was just ok. But the place is kind of a d...,2017-05-15 00:48:53

In [ ]:
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
import re

nltk.download('punkt')

def stemText(text_array):
    stemmed_text = []
    for h in text_array:
        if h:
            words = word_tokenize(h)
            h2 = ''
            for w in words:
                h2 = h2 + PorterStemmer().stem(w)
            stemmed_text.append(h2)
    return stemmed_text

def cleanWord(string):
    pattern = re.compile(r'[a-z]+')
    word = string.lower()
    if not word.isalpha():
        word = pattern.findall(word)
    if type(word) == str:
        return word
    if type(word) == list and len(word) != 0:
        return word[0]

review_df_2['Review_Words'] = review_df_2.text.apply(lambda r : r.split())
review_df_2['Stemmed_Review'] = review_df_2.Review_Words.apply(lambda r : stemText([cleanWord(word) for word in r]))
review_df_2

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Review_Words,Stemmed_Review
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,"[If, you, decide, to, eat, here,, just, be, aw...","[if, you, decid, to, eat, here, just, be, awar..."
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,"[I've, taken, a, lot, of, spin, classes, over,...","[i, taken, a, lot, of, spin, class, over, the,..."
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,"[Family, diner., Had, the, buffet., Eclectic, ...","[famili, diner, had, the, buffet, eclect, asso..."
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,"[Wow!, Yummy,, different,, delicious., Our, fa...","[wow, yummi, differ, delici, our, favorit, is,..."
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,"[Cute, interior, and, owner, (?), gave, us, to...","[cute, interior, and, owner, gave, us, tour, o..."
...,...,...,...,...,...,...,...,...,...,...,...
9995,ZcBtCA9jGhLfakf1jJ2BAg,yab1cq5yzrTHzoyz8LYqYQ,1-z7wd860Rii4kbEMCT8DA,5,0,0,0,Excellent food and service. The place is funct...,2018-06-26 17:41:31,"[Excellent, food, and, service., The, place, i...","[excel, food, and, servic, the, place, is, fun..."
9996,UIkEO-10J6Y99IhRqUflvg,lYAmgL_l7A3MPFYe1DYKrw,EpREWeEpmR8f1qLHzzF0AA,5,0,1,0,Just about to get tucked into a meatloaf that ...,2018-01-09 20:26:13,"[Just, about, to, get, tucked, into, a, meatlo...","[just, about, to, get, tuck, into, a, meatloaf..."
9997,S-NQM3Axcg8JS3MXHUIvyw,rE2WwfgJbYfvDwBlgq__dQ,dvidzWEPgTQPeBc8CUV2OQ,5,0,0,0,Outstanding customer service! And my car is dr...,2015-04-01 21:50:28,"[Outstanding, customer, service!, And, my, car...","[outstand, custom, servic, and, my, car, is, d..."
9998,ME79YrEhm2xe4IQy_0zkGw,OnIklvzKDpk1BduC84TrTA,2XYPFRm7teCUr3eGsB2-qw,5,0,0,0,I and my husband went here for Dinner one day ...,2015-06-08 19:32:26,"[I, and, my, husband, went, here, for, Dinner,...","[i, and, my, husband, went, here, for, dinner,..."
9999,05oKtleZ-JFGD6qt47VQcg,p0MhNWkwOPBfRo8qUb7faw,rnaE88k8yV5pFAGJeiIK4Q,2,0,0,0,I saw Big Data when they came to town at the K...,2015-08-06 23:16:58,"[I, saw, Big, Data, when, they, came, to, town...","[i, saw, big, data, when, they, came, to, town..."

In [ ]:

# review_df_3=review_df[1]

# review_df_3['Review_Words'] = review_df_3.text.apply(lambda r : r.split())
# review_df_3['Stemmed_Review'] = review_df_3.Review_Words.apply(lambda r : stemText([cleanWord(word) for word in r]))
# review_df_3

IndexError: ignored

In [ ]:
businessdf = pd.read_json(r'yelp_dataset/yelp_academic_dataset_business.json', lines=True, encoding='utf-8-sig')
businessdf

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [ ]:
academic_df = pd.read_json(r'yelp_dataset/yelp_academic_dataset_tip.json', lines=True, encoding='utf-8-sig')
academic_df

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

In [ ]:

academic_df['Review_Words'] = academic_df.text.apply(lambda r : r.split())
academic_df['Stemmed_Review'] = academic_df.Review_Words.apply(lambda r : stemText([cleanWord(word) for word in r]))
academic_df

,user_id,business_id,text,date,compliment_count,Review_Words,Stemmed_Review
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0,"[Avengers, time, with, the, ladies.]","[aveng, time, with, the, ladi]"
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0,"[They, have, lots, of, good, deserts, and, tas...","[they, have, lot, of, good, desert, and, tasti..."
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0,"[It's, open, even, when, you, think, it, isn't]","[it, open, even, when, you, think, it, isn]"
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0,"[Very, decent, fried, chicken]","[veri, decent, fri, chicken]"
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0,"[Appetizers.., platter, special, for, lunch]","[appet, platter, special, for, lunch]"
...,...,...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0,"[Disappointed, in, one, of, your, managers.]","[disappoint, in, one, of, your, manag]"
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0,"[Great, food, and, service.]","[great, food, and, servic]"
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0,"[Love, their, Cubans!!]","[love, their, cuban]"
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0,"[Great, pizza, great, price]","[great, pizza, great, price]"
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0,"[Food, is, good, value, but, a, bit, hot!]","[food, is, good, valu, but, a, bit, hot]"